page-home {
 .scroll-content {
        background-color: #E0E0E0;
       
      }
 
      ion-row {
        align-items: center;
        text-align: center;
      }
label{
	color:#00ACC1;
}
.grid{
	background-color: #ffffff;
}

}
